


* {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 1em;
    
}

body{
    min-width: 320px;
    /* background-image: url("../img/background.jpg");
    background-repeat:no-repeat;*/
    
}

nav {
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: -4px -2px -2px 0px;
    padding: 10px 2px 2px 0px;    
}



img{
    margin: 2px 2px 2px 2px;
    padding: 5px 2px 2px 5px;
}


a {
    text-decoration: none;
}

.MenuLogin{
   right: 0;
}



.logoImg {
    width: 9.5em;
    height: 3.5em;
}

#idCarousel{
    position: relative;
    top: 100px;
    clear: both;
    padding-top: 10px;
    margin-top: 1px;
    opacity : 0.95;
    max-height: 28em;
}
.content{
    position: relative;
    top: 100px;
    clear: both;
}
.contentImg {
   
    width: 20em;
    height: 20em;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards-wrapper{
    display:flex !important;
    margin: 2px auto 0 auto !important;
}

.categoria{
    margin: 0 .5em !important;
    width: calc(100%/3);
    border-radius: 10px;
}


.image-wrapper{
    height: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image-wrapper img{
    max-width: 90%;
    max-height: 80%;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    border: 1px 1px 1px 1px;
    border-color: gray;
}

.login{
    position: relative;
    top: 150px;

    clear: both;
}

.footer{
    clear: both;
    position: relative;
    top: 100px;
    bottom: 0;
    
    
}

.icon{
    padding: 1px 1px 1px 1px;
    margin-left: auto !important;
}

#historia{
    max-height: 15%;
}

#historia img {
    margin-right: auto !important;
    margin-left: auto !important;
    max-height: 300px;
}




.contato{
    margin: 2em;
    padding: 1px;
}

.navbar-toggler button{
    margin: 0px auto;

}